<html>
    <head>
        <style>
            body {
                background-color: rgb(194, 194, 194);
            }
            .userInput {
                border: 5px black;
                background-color: grey;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="userInput">
            <form action="" method="get">
                <h2>NET-RMSI Web Interface</h2>
                <label for="serverlist">Choose a server to issue a command:</label>
                <select name="ServerIP" id="serverlist">
                <input type="submit" value="Enter">
                <p></p>
            </form>
        </div>
        <footer>
    
            <p>Peter Hamilton 2023</p>
            <p><a href="https://github.com/NET-RMSI">NET-RMSI Github</a></p>
        
        </footer>
    </body>
</html>